{{- if or .Site.Params.widgets.newsletter }}
<div class="widget-social widget">
	<h4 class="widget-social__title widget__title">Agenda</h4>
	<div class="widget-social__content widget__content">
		<div class="widget-social__item widget__item">
				  Volg onze activiteiten door onze TkkrLab agenda te importeren in je eigen agenda, via  
				  	<a href="http://www.google.com/calendar/ical/ij2r5jaqg6l2bdt5uv6ltngfq0%40group.calendar.google.com/public/basic.ics">iCal</a> of 
					<a href="http://www.google.com/calendar/embed?src=ij2r5jaqg6l2bdt5uv6ltngfq0%40group.calendar.google.com&ctz=Europe/Amsterdam">Google Agenda</a>

		</div>
	</div>
</div>
{{- end }}
