$light: #FFFFFF;
$primary-color: #000000;
$secondary-color: #FFE700;
$success: #FFE700;
$black: #000000;
$alert:#FFE700;
$border-color:#FFE700;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';
