<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }} - Tkkrlab</title>
<script src="/mqttws31.js"></script>
<script src="/progressbar.js"></script>
<script src="/tkkrlab.js"></script>
<script src="/jquery-3.4.1.min.js"></script>
<script async defer data-website-id="aff01980-fbc2-4b24-b226-a85bfa52dffe" src="https://umami.tkkrlab.space/umami.js"></script>
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
{{ if .Site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{ end }}
{{ if .OutputFormats.Get "RSS"}}<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Feed" href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}">{{ end }}
<link rel="stylesheet" href="/fonts/opensans.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ "css/style.css" | relURL }}" type="text/css" media="all" />
<script type="text/javascript" src="{{ "js/scripts.js" | relURL }}"></script>
<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
{{ template "_internal/google_analytics_async.html" . }}
</head>
<body class="body {{ if or (.Site.Params.leftsidebar) (.Params.leftsidebar) }}body-left-sidebar{{ else }}body-right-sidebar{{ end }} mobile" itemscope="itemscope" itemtype="http://schema.org/WebPage">
	<div class="container container-outer">
		<header class="header" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
			<div class="container container-inner clearfix tkkrlab-logo">
				<div class="logo" role="banner" itemscope="itemscope" itemtype="http://schema.org/Brand">
					<a class="logo__link" href="{{ "" | relLangURL }}" title="{{ .Site.Title }}" rel="home">
						<h1 class="logo__title">{{ .Site.Title }}</h1>
						{{ with .Site.Params.subtitle }}<h2 id="logo__tagline" class="logo__tagline">{{ . }}</h2>{{ end }}
					</a>
				</div><br />
				<div class="space-status-container">
                {{ if .Site.IsMultiLingual }}
                    {{ range .Site.Languages }}
                        {{ if eq . $.Site.Language }}
                            <img src="/icons/{{ . }}.png" alt="{{ .LanguageName }}" />
                        {{ end }}
                    {{ end }}
                        {{ range $.Translations }}
                            <a title="{{ .Language.LanguageName }}" href="{{ .Permalink }}"><img src="/icons/{{ .Language }}.png" alt="{{ .Language.LanguageName }}" /></a>
                        {{ end }}
                {{ end }}
				<span class="space-status" id="space-status"><span class="unknown">&nbsp;</span></span></span></div>
			</div>
			{{ partial "menu.html" . }}
		</header>
		<div class="wrapper clearfix">
